### Ignore these folders
__pycache__/
.mypy_cache/
.venv/
.vs/
.buffer/
.ipynb_checkpoints/
derivatives/
program/.ipynb_checkpoints
program/events_data
pptx/
niftii


### Ignore these files
.DS_Store
.env
Shared_scripts.pyproj
Shared_scripts.sln
start_demo_extended.ipynb
app.py
ci_f_ax_59_GL_T1_3D.nii.gz